Server_Monotoring.json
[{"id":"e6af9aeb8bed76a8","type":"tab","label":"Server_Monotoring","disabled":false,"info":"","env":[]},{"id":"mqtt-in-status","type":"mqtt in","z":"e6af9aeb8bed76a8","name":"Server Status","topic":"servers/+","qos":"0","datatype":"json","broker":"fec8683778b5dd66","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":40,"wires":[["3faacbf07a4bce96"]]},{"id":"split-fields","type":"function","z":"e6af9aeb8bed76a8","name":"Split metrics","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n  { payload: m.disk_used_percent, topic: m.hostname + \"/disk\" },\n  { payload: m.memory_used_percent, topic: m.hostname + \"/memory\" },\n  { payload: m.cpu_load, topic: m.hostname + \"/cpu\" },\n  { payload: m.upgradable_packages, topic: m.hostname + \"/upgrades\" }\n];","outputs":4,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":200,"wires":[["gauge-disk"],["gauge-mem"],["chart-cpu"],["9d7aa29c8bd484b8"]]},{"id":"hostname-node","type":"function","z":"e6af9aeb8bed76a8","name":"Host/Time","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n    { payload: m.hostname},\n    { payload: m.timestamp}\n];\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":80,"wires":[["text-hostname"],["d4fecea3a09c894e"]]},{"id":"text-hostname","type":"ui_text","z":"e6af9aeb8bed76a8","group":"dashboard-group","order":1,"width":0,"height":0,"name":"Host name","label":"<h> Host name: <h/>","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":490,"y":80,"wires":[]},{"id":"gauge-disk","type":"ui_gauge","z":"e6af9aeb8bed76a8","name":"Disk","group":"31033a0c84c0e22d","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":70,"seg2":90,"diff":false,"className":"","x":610,"y":160,"wires":[]},{"id":"gauge-mem","type":"ui_gauge","z":"e6af9aeb8bed76a8","name":"Memory","group":"7217f4e485cf8b9c","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":60,"seg2":85,"diff":false,"className":"","x":760,"y":180,"wires":[]},{"id":"chart-cpu","type":"ui_chart","z":"e6af9aeb8bed76a8","name":"CPU Load","group":"14ac903b7878040a","order":1,"width":0,"height":0,"label":"CPU Load (%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data","dot":false,"ymin":"0","ymax":"100","removeOlder":24,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#000000","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":220,"wires":[[]]},{"id":"a36ae46b929cea86","type":"debug","z":"e6af9aeb8bed76a8","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"9d7aa29c8bd484b8","type":"ui_text","z":"e6af9aeb8bed76a8","group":"dashboard-group","order":2,"width":0,"height":0,"name":"Uppgr. pack.","label":"Upgradable <br> &nbsp packages:","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":490,"y":240,"wires":[]},{"id":"aeac72007cc17b89","type":"comment","z":"e6af9aeb8bed76a8","name":"Column 1","info":"","x":480,"y":40,"wires":[]},{"id":"6ccf6ddd9a0a5bda","type":"comment","z":"e6af9aeb8bed76a8","name":"Column 2","info":"","x":620,"y":40,"wires":[]},{"id":"1cd4a5b098f8b8b4","type":"comment","z":"e6af9aeb8bed76a8","name":"Column 3","info":"","x":760,"y":40,"wires":[]},{"id":"2285c139f6f66301","type":"comment","z":"e6af9aeb8bed76a8","name":"Column 4","info":"","x":900,"y":40,"wires":[]},{"id":"3faacbf07a4bce96","type":"switch","z":"e6af9aeb8bed76a8","name":"Server select","property":"payload.hostname","propertyType":"msg","rules":[{"t":"eq","v":"homehub","vt":"str"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":120,"wires":[["hostname-node","split-fields","a36ae46b929cea86"],["8e8b65045cb54c55"]]},{"id":"8e8b65045cb54c55","type":"debug","z":"e6af9aeb8bed76a8","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":90,"y":200,"wires":[]},{"id":"d4fecea3a09c894e","type":"ui_text","z":"e6af9aeb8bed76a8","group":"dashboard-group","order":4,"width":0,"height":0,"name":"Last sample","label":"Last sample","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":490,"y":120,"wires":[]},{"id":"f6f15621bf62b3bf","type":"ui_spacer","z":"e6af9aeb8bed76a8","name":"spacer","group":"dashboard-group","order":3,"width":"4","height":"1"},{"id":"fec8683778b5dd66","type":"mqtt-broker","name":"","broker":"macm.local","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dashboard-group","type":"ui_group","name":"Column 1","tab":"dashboard-tab","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"31033a0c84c0e22d","type":"ui_group","name":"Column 2","tab":"dashboard-tab","order":2,"disp":false,"width":6,"collapse":false,"className":""},{"id":"7217f4e485cf8b9c","type":"ui_group","name":"Column 3","tab":"dashboard-tab","order":3,"disp":false,"width":6,"collapse":false,"className":""},{"id":"14ac903b7878040a","type":"ui_group","name":"Column 4","tab":"dashboard-tab","order":4,"disp":false,"width":6,"collapse":false,"className":""},{"id":"dashboard-tab","type":"ui_tab","name":"Monitoring","icon":"dashboard","order":1}]