Server_Monotoring_MKII.json
[{"id":"cbeb6c60cefe2830","type":"tab","label":"Export","disabled":true,"info":"","env":[]},{"id":"b7b8318afbd6661e","type":"mqtt in","z":"cbeb6c60cefe2830","name":"MQTT subscribe","topic":"servers/+","qos":"0","datatype":"json","broker":"fec8683778b5dd66","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":80,"wires":[["7d9840bb3b41fcd4"]]},{"id":"3efdea671384e0e8","type":"function","z":"cbeb6c60cefe2830","name":"Disk/Mem/Cpu","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n  { payload: m.disk_used_percent, topic: m.hostname + \"/disk\" },\n  { payload: m.memory_used_percent, topic: m.hostname + \"/memory\" },\n  { payload: m.cpu_load, topic: m.hostname + \"/cpu\" }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["93a745424d26db5e"],["2467f3dfca66ee24"],["04d6d97e4a58c8f5"]]},{"id":"1101cde0f8892e65","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":1,"width":"4","height":"1","name":"Host/Upgr.?:","label":"Host/Upgr.?:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":80,"wires":[]},{"id":"93a745424d26db5e","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Disk","group":"31033a0c84c0e22d","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":70,"seg2":90,"diff":false,"className":"","x":730,"y":160,"wires":[]},{"id":"2467f3dfca66ee24","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Memory","group":"7217f4e485cf8b9c","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":60,"seg2":85,"diff":false,"className":"","x":880,"y":180,"wires":[]},{"id":"04d6d97e4a58c8f5","type":"ui_chart","z":"cbeb6c60cefe2830","name":"CPU Load","group":"14ac903b7878040a","order":1,"width":0,"height":0,"label":"CPU Load (%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data","dot":false,"ymin":"0","ymax":"100","removeOlder":24,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#ff2600","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":220,"wires":[[]]},{"id":"9f7bcfd92c72160f","type":"comment","z":"cbeb6c60cefe2830","name":"Column 1","info":"","x":600,"y":40,"wires":[]},{"id":"965cea80020c97a7","type":"comment","z":"cbeb6c60cefe2830","name":"Column 2","info":"","x":740,"y":40,"wires":[]},{"id":"69eccbed5b3ab9ed","type":"comment","z":"cbeb6c60cefe2830","name":"Column 3","info":"","x":880,"y":40,"wires":[]},{"id":"cb699f277d66079b","type":"comment","z":"cbeb6c60cefe2830","name":"Column 4","info":"","x":1020,"y":40,"wires":[]},{"id":"7d9840bb3b41fcd4","type":"switch","z":"cbeb6c60cefe2830","name":"Server select","property":"payload.hostname","propertyType":"msg","rules":[{"t":"eq","v":"homehub","vt":"str"},{"t":"eq","v":"ais","vt":"str"},{"t":"eq","v":"MacM","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":4,"x":130,"y":180,"wires":[["c672a893b1a338d9"],["ea1b040d0f55c2a8"],["8d70b65956f8c2c3"],["e75f8c4bd6d7a53f"]]},{"id":"e75f8c4bd6d7a53f","type":"debug","z":"cbeb6c60cefe2830","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":110,"y":240,"wires":[]},{"id":"0ceb56ef8f7d409d","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":2,"width":"4","height":"1","name":"Last sample","label":"Last sample","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":120,"wires":[]},{"id":"b47d0bd8a3151678","type":"function","z":"cbeb6c60cefe2830","name":"Split metrics","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n  { payload: m.disk_used_percent, topic: m.hostname + \"/disk\" },\n  { payload: m.memory_used_percent, topic: m.hostname + \"/memory\" },\n  { payload: m.cpu_load, topic: m.hostname + \"/cpu\" }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":440,"wires":[["1df52f5a080f7df6"],["4dd1919c5675b137"],["f6deae610df380d2"]]},{"id":"2b0143dac709a3c1","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":4,"width":0,"height":0,"name":"Host/Upgr.?:","label":"Host/Upgr.?:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":320,"wires":[]},{"id":"1df52f5a080f7df6","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Disk","group":"31033a0c84c0e22d","order":3,"width":0,"height":0,"gtype":"gage","title":"Disk Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":70,"seg2":90,"diff":false,"className":"","x":730,"y":400,"wires":[]},{"id":"4dd1919c5675b137","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Memory","group":"7217f4e485cf8b9c","order":2,"width":0,"height":0,"gtype":"gage","title":"Memory Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":60,"seg2":85,"diff":false,"className":"","x":880,"y":420,"wires":[]},{"id":"f6deae610df380d2","type":"ui_chart","z":"cbeb6c60cefe2830","name":"CPU Load","group":"14ac903b7878040a","order":2,"width":0,"height":0,"label":"CPU Load (%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data","dot":false,"ymin":"0","ymax":"100","removeOlder":24,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#ff2600","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":460,"wires":[[]]},{"id":"b3339709833ca771","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":5,"width":0,"height":0,"name":"Last sample","label":"Last sample","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":360,"wires":[]},{"id":"8d70b65956f8c2c3","type":"link out","z":"cbeb6c60cefe2830","name":"MacM, out","mode":"link","links":["a1d28cea5cf1f1bc"],"x":265,"y":200,"wires":[]},{"id":"a1d28cea5cf1f1bc","type":"link in","z":"cbeb6c60cefe2830","name":"MacM, in","links":["8d70b65956f8c2c3"],"x":315,"y":560,"wires":[["cba8ec60c1cf913b","431a83815aa5f6e6"]]},{"id":"cba8ec60c1cf913b","type":"function","z":"cbeb6c60cefe2830","name":"Split metrics","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n  { payload: m.disk_used_percent, topic: m.hostname + \"/disk\" },\n  { payload: m.memory_used_percent, topic: m.hostname + \"/memory\" },\n  { payload: m.cpu_load, topic: m.hostname + \"/cpu\" }\n];","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":680,"wires":[["9dbc9fbad76915e5"],["b17dce1e426f3580"],["3d908ef04a94cb8a"]]},{"id":"c868b8fdb98eef0f","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":8,"width":0,"height":0,"name":"Host/Upgr.?:","label":"Host/Upgr.?:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":560,"wires":[]},{"id":"9dbc9fbad76915e5","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Disk","group":"31033a0c84c0e22d","order":4,"width":0,"height":0,"gtype":"gage","title":"Disk Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":70,"seg2":90,"diff":false,"className":"","x":730,"y":640,"wires":[]},{"id":"b17dce1e426f3580","type":"ui_gauge","z":"cbeb6c60cefe2830","name":"Memory","group":"7217f4e485cf8b9c","order":2,"width":0,"height":0,"gtype":"gage","title":"Memory Usage (%)","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":60,"seg2":85,"diff":false,"className":"","x":880,"y":660,"wires":[]},{"id":"3d908ef04a94cb8a","type":"ui_chart","z":"cbeb6c60cefe2830","name":"CPU Load","group":"14ac903b7878040a","order":2,"width":0,"height":0,"label":"CPU Load (%)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"no data","dot":false,"ymin":"0","ymax":"100","removeOlder":24,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#ff2600","#000000","#000000","#000000","#000000","#000000","#000000","#000000"],"outputs":1,"useDifferentColor":false,"className":"","x":1030,"y":700,"wires":[[]]},{"id":"260d5ccfa059a6d8","type":"ui_text","z":"cbeb6c60cefe2830","group":"dashboard-group","order":9,"width":0,"height":0,"name":"Last sample","label":"Last sample","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":610,"y":600,"wires":[]},{"id":"ea1b040d0f55c2a8","type":"link out","z":"cbeb6c60cefe2830","name":"AIS,out","mode":"link","links":["ba8aba4f999a0d36"],"x":265,"y":160,"wires":[]},{"id":"ba8aba4f999a0d36","type":"link in","z":"cbeb6c60cefe2830","name":"AIS, in","links":["ea1b040d0f55c2a8"],"x":315,"y":320,"wires":[["b47d0bd8a3151678","e13ce726a7d6789a"]]},{"id":"c672a893b1a338d9","type":"link out","z":"cbeb6c60cefe2830","name":"homehub, out","mode":"link","links":["96a8492f5c370ced"],"x":265,"y":120,"wires":[]},{"id":"96a8492f5c370ced","type":"link in","z":"cbeb6c60cefe2830","name":"homehub, in","links":["c672a893b1a338d9"],"x":315,"y":80,"wires":[["3efdea671384e0e8","533ea5e4867c86ea"]]},{"id":"483df231b7ef1b26","type":"ui_template","z":"cbeb6c60cefe2830","group":"dashboard-group","name":"SSH, Homehub","order":3,"width":0,"height":0,"format":"<style>\n    /* Green button style */\n    a.ssh-btn {\n        display: inline-block;\n        padding: 10px 20px;\n        background-color: #4CAF50;\n        /* green */\n        color: white !important;\n        text-decoration: none;\n        border-radius: 8px;\n        font-weight: bold;\n        transition: background-color 0.3s ease;\n    }\n\n    /* Hover effect */\n    a.ssh-btn:hover {\n        background-color: #45a049;\n    }\n</style>\n\n<a href=\"ssh://user@homehub.local\" class=\"ssh-btn\">SSH => homehub</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":620,"y":240,"wires":[[]]},{"id":"533ea5e4867c86ea","type":"function","z":"cbeb6c60cefe2830","name":"Host/Upgr./Time","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n    { payload: m.hostname + \"/\" + m.upgradable_packages},\n    { payload: m.timestamp}\n];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[["1101cde0f8892e65"],["0ceb56ef8f7d409d"]]},{"id":"e13ce726a7d6789a","type":"function","z":"cbeb6c60cefe2830","name":"Host/Upgr./Time","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n    { payload: m.hostname + \"/\" + m.upgradable_packages},\n    { payload: m.timestamp}\n];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":320,"wires":[["2b0143dac709a3c1"],["b3339709833ca771"]]},{"id":"61752dcf7e03ad39","type":"ui_template","z":"cbeb6c60cefe2830","group":"dashboard-group","name":"SSH, AIS","order":6,"width":0,"height":0,"format":"<style>\n    /* Green button style */\n    a.ssh-btn {\n        display: inline-block;\n        padding: 10px 20px;\n        background-color: #4CAF50;\n        /* green */\n        color: white !important;\n        text-decoration: none;\n        border-radius: 8px;\n        font-weight: bold;\n        transition: background-color 0.3s ease;\n    }\n\n    /* Hover effect */\n    a.ssh-btn:hover {\n        background-color: #45a049;\n    }\n</style>\n\n<a href=\"ssh://user@ais.local\" class=\"ssh-btn\">SSH => AIS</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":600,"y":480,"wires":[[]]},{"id":"62a049491f961c97","type":"comment","z":"cbeb6c60cefe2830","name":"Homehub","info":"","x":420,"y":40,"wires":[]},{"id":"64554f3cb465297d","type":"comment","z":"cbeb6c60cefe2830","name":"AIS","info":"","x":410,"y":280,"wires":[]},{"id":"c8aac6f03d6c436b","type":"comment","z":"cbeb6c60cefe2830","name":"MacM","info":"","x":410,"y":520,"wires":[]},{"id":"431a83815aa5f6e6","type":"function","z":"cbeb6c60cefe2830","name":"Host/Upgr./Time","func":"// Split JSON into individual outputs\nlet m = msg.payload;\n\nreturn [\n    { payload: m.hostname + \"/\" + m.upgradable_packages},\n    { payload: m.timestamp}\n];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["c868b8fdb98eef0f"],["260d5ccfa059a6d8"]]},{"id":"5d564eb061c39b12","type":"ui_template","z":"cbeb6c60cefe2830","group":"dashboard-group","name":"SSH, MacM","order":10,"width":0,"height":0,"format":"<style>\n    /* Green button style */\n    a.ssh-btn {\n        display: inline-block;\n        padding: 10px 20px;\n        background-color: #4CAF50;\n        /* green */\n        color: white !important;\n        text-decoration: none;\n        border-radius: 8px;\n        font-weight: bold;\n        transition: background-color 0.3s ease;\n    }\n\n    /* Hover effect */\n    a.ssh-btn:hover {\n        background-color: #45a049;\n    }\n</style>\n\n<a href=\"ssh://user@macm.local\" class=\"ssh-btn\">SSH => MacM</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":610,"y":720,"wires":[[]]},{"id":"fec8683778b5dd66","type":"mqtt-broker","name":"","broker":"macm.local","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dashboard-group","type":"ui_group","name":"Column 1","tab":"dashboard-tab","order":1,"disp":false,"width":"4","collapse":false,"className":""},{"id":"31033a0c84c0e22d","type":"ui_group","name":"Column 2","tab":"dashboard-tab","order":2,"disp":false,"width":4,"collapse":false,"className":""},{"id":"7217f4e485cf8b9c","type":"ui_group","name":"Column 3","tab":"dashboard-tab","order":3,"disp":false,"width":4,"collapse":false,"className":""},{"id":"14ac903b7878040a","type":"ui_group","name":"Column 4","tab":"dashboard-tab","order":4,"disp":false,"width":4,"collapse":false,"className":""},{"id":"dashboard-tab","type":"ui_tab","name":"Monitoring","icon":"dashboard","order":1}]